<div class="check__container">
    <div class="row">
        <div class="check__label">
          <h2>Check Password Strength</h2>
        <form [formGroup]="passwordForm">
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" autocomplete="off" placeholder="Password">
          </div>
          <app-sections-itmes [currentPassword] = "passwordForm.value.password">
      
          </app-sections-itmes>
          
        </form>
      </div>
    </div>
</div>
